@import url(../utills/default.css);

.board {
  border: 10px solid var(--boardColor);
  background: var(--backgroundImage);
  border-radius: 10px;
}

.cell-green {
  background-color: var(--snakeColor);
}

.cell-red {
  background-color: var(--fruitColor);
}

.cell-purple {
  background-color: var(--purple);
}

.row {
    height: 1vw;
    border-radius: 9px;
  }

  .cell {
    width: 1vw;
    height: 1vw;
    border-radius: 9px;
    display: inline-block;
  }

  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .row {
      height: 3px;
    }
  
    .cell {
      width: 3px;
      height: 3px;
  
      display: inline-block;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 900px) {
    .row {
      height: 3vw;
    }
  
    .cell {
      width: 3vw;
      height: 3vw;
  
      display: inline-block;
    }
  }


  


